@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes drive {
  from {
    left: -10%;
  }
  to {
    left: 110%;
  }
}

.car {
  height: 5vh;
  opacity: 0.5;
  @apply relative;
  animation: drive 100s linear infinite; /* Initial animation */
}
